.success-message {
  border: 2px solid #4caf50;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 200px;
  max-width: calc(100% - 150px);
}

.success-message h1 {
  color: #4caf50;
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:first-child {
  background-color: #4caf50;
  color: white;
}

.buttons button:last-child {
  background-color: #f0f0f0;
  color: #333;
}
