@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

$font-family: "Nunito", sans-serif;

$backgroud: #ffffff;
$cartbackgroud: #f7f7f7;
$secondaryColor: #f2f2f2;
$blackTextColor: #29231f;
$whiteTextColor: #ffffff;
$orangeTextColor: #f07721;
$cartOrangeColor: #e8bd67;
$footerColor: #f0f0f0;
$inputBackgroundColor: #70635a;
$backgroudBuyButton: #38302a;
$dashedLine: #c4c4c4;
$loginFormBackgroundColor: #f0bc56;
$accountMenuBackgroudColor: #f4f0ec;
$error: #d00000;
$success: #5cb85c;
$orderHeader: #f4f0ec;
